.header__nav label{
  position: absolute;
  top: 4.3em;
  right: 73px;
  cursor: pointer;
}
.header__nav span{
  position: relative;
  width: 2em;
  height: 2em;
  background: rgba(255,255,255,.3);
  -webkit-transition: all .3s ease;
}
.header__nav span:hover{
  background: rgba(255,255,255,.6);
}
.header__nav span:before,
.header__nav span:after{
  content: '';
  position: absolute;
  width: 2em;
  height: .5em;
  top: 4px;
  left: 0;
  background: black;
}
.header__nav span:after{
  top: 14px;
}

.hidden-desktop{
  display: none;
}
#open{
  display: none;
}

@media (max-width: 480px) {
  .nav {
    height: 0;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    flex-direction: column;
  }
    input[type="checkbox"]:checked + .nav{
    height: 205px;
  }
  .nav>li{
    padding: 0;
    display: block;
    border-bottom: solid 1px rgba(255,255,255,.1);
  }
  .hidden-desktop{
    display: block;
  }
}