.servicesg {background-image: url(img/bg3.png);
    background-size: 100% 100%;}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16%;
    height: 744px;
    &__services {
        display: flex;
        width: 400px;
        height: 100px;
        align-items: center;
        justify-content: space-between;
        background-color: white;
    }
    &__services:not(:first-child) {
        margin-top: 20px;
    }
}

.services__column {
    margin: 0 auto;
    text-align: center;
    font-family: 'Raleway-Bold', sans-serif;
}

.services__icon {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-left: 1px #9d9d9d solid;
}

.icon {
    width: 47px;
    height: 43px;
}

@include _440 {
    .column {
        height: 464px;
    }
    .column__services {
        width: 205px;
        height: 77px;
    }
    .services__icon {
        width: 65px;
        height: 55px;
    }
}