header {

    text-align: center;
    color: #e57e7f;
    background-color: #4a4f56;
}

body {
    background-color: grey;
}

.back {
    width: 700px;
    margin: 0 auto;
    background-color: #3b3f45;
}

.wrapper {
width: fit-content;
}

section:nth-child(odd) {
background-color: #88839e;
color: white;
}

section:nth-child(even) {
    background-color: #482ace;
color: white;
}

input[type="checkbox"]{
    width: 20px; 
    height: 20px; 
    margin: 20px;
}

label {font-size: 25px; }

section:hover {
    background-color: slategrey;
    border: 2px solid white;
}
section:active{
background-color: red;
}
span {
    color: whte;
}
input[type="checkbox"]:checked+label{
    text-decoration: line-through;
    color: rgb(153, 153, 153);
}
input[type="checkbox"]:checked+label+span{
    text-decoration: line-through;
    color: rgb(153, 153, 153);
}

span::before {
    content: "(";
}
span::after{
    content: ")";
}
footer {
 
    background-color: rgb(68, 68, 68);
    text-align: center;
    font-size: 60px;
    color: red;
    width: 700px;
    margin: 0 auto;
    margin-top: 15px;
}