.main {
    background-image: url(img/bg.png);
    max-width: 876px;
    margin: 0 auto;
}

.container {
    max-width: 750px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
}

.nav {
    display: flex;
    padding-left: 0px;
    list-style: none;
    margin: 0;
}

.nav__item .link {
    margin: 0 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
.nav__item:first-child {margin-left: 0;}
.nav__item:last-child {margin-right: 0;}
.nav__item:hover {text-decoration: underline;}



.product {
    display: flex;
    padding: 60px 0;
}
.product__image {
    flex: 2;
    background-color: #edeaec;
}
.main-image {position: relative;}
.sneakers {    max-width: 100%;}

.main-image__plus {
    position: absolute;
    right: 25px;
    bottom: 0px;
    font-size: 40px;
}
.main-image__plus::before {content: '\02b';}

.mins {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}
.mins>* {
    border: 2px solid black;
    margin: 0 10px;
    height: 42px;
}

.product__details {
    flex: 1;
}