$MainColor: #666666;
$second_color: #ffcc00;
$Title_color: #898f8f;
$Social_color: #cccccc;
$Margin_bottom: 25px;

$Font: "sans-serif";
$Base_fs: 16px;
$LineHeight: 1.3em;

$ImgSize: 420px;
$SeparatorWidth: 100px;


